.about__container {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include vp-768 {
    gap: 40px;
  }
}

.about__wrapper {
  display: flex;
  max-width: 1134px;
  width: 100%;
  justify-content: space-between;

  @include vp-1440 {
    flex-direction: column;
    gap: 34px;
  }

  @include vp-768 {
    gap: 35px;
  }
}

.about__text-content-heading {
  display: flex;
  flex-direction: column;
  gap: 38px;
  max-width: 477px;

  @include vp-1440 {
    gap: 24px;
  }

  @include vp-768 {
    gap: 10px;
  }
}

.about__text-content-heading h2 {
  margin: 0;
  color: #316DC2;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  width: 100%;
  text-align: left;

  @include vp-1440 {
    font-size: 34px;
  }

  @include vp-768 {
    font-size: 20px;
    line-height: 20px;
    padding: 2px 1px 3px;
  }
}

.about__text-content-heading p {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
  max-width: 398px;

  @include vp-1440 {
    font-size: 20px;
    line-height: 26px;
    max-width: 489px;
  }

  @include vp-768 {
    font-size: 16px;
    line-height: 22px;
  }
}

.about__text-content-subtitle {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 498px;

  @include vp-1440 {
    gap: 22px;
  }

  @include vp-768 {
    gap: 10px;
  }
}

.about__text-content-subtitle h3 {
  margin: 0;
  color: #316DC2;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;

  @include vp-1440 {
    font-size: 28px;
    line-height: 28px
  }

  @include vp-768 {
    font-size: 18px;
    line-height: 22px;
    margin-top: -4px;
  }
}

.about__text-content-subtitle p {
  margin: 0;

  @include vp-1440 {
    line-height: 20px;
  }

  @include vp-768 {
    font-size: 14px;
  }
}

.about__button {
  max-width: 277px;

  @include vp-1440 {
    margin-top: 10px
  }

  @include vp-768 {
    max-width: 221px;
    margin-top: 15px
  }
}

.about__button-description {
  justify-self: center;
}

.about__list {
  margin: 0;
  list-style-type: none;
  padding: 50px 106px 32px;
  border-radius: 20px;
  background: #316DC2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;

  @include vp-1440 {
    padding: 40px;
    column-gap: 30px;
    row-gap: 20px;
  }

  @include vp-768 {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 20px 20px 40px 10px;
  }
}

.about__item {
  padding: 22px 0 0 20px;
  max-width: 498px;
  position: relative;

  @include vp-1440 {
    max-width: 284px;
  }
}

.about__group {
  padding: 25px 59px;
  display: flex;
  gap: 24px;
  border-radius: 16px;
  border: 1px solid #F0EFE9;
  min-height: 100%;
  min-width: 478px;

  &--primary {
    justify-content: space-between;
  }

  &--secondary {
    padding: 29px 53px;
    gap: 46px;
  }

  @include vp-1440 {
    padding: 29px;
    padding-bottom: 25px;
    flex-direction: column;
    gap: 8px;
    min-width: 264px;
  }

  @include vp-768 {
    padding: 19px;
    padding-bottom: 23px;
    gap: 4px;
    min-width: 240px;
  }
}

.about__group b {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.26px;
  text-transform: uppercase;
  color: $color-white;
  width: min-content;
  min-width: 134px;

  @include vp-1440 {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.2px;
  }

  @include vp-768 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.16px;
    min-width: 200px;
  }
}

.about__group p {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: #F0EFE9;
  margin: 0;
  width: min-content;
  min-width: 161px;

  @include vp-1440 {
    min-width: 218px;
  }

  @include vp-768 {
    font-size: 14px;
    line-height: 20px;
  }
}

.about__group--primary p {
  min-width: 178px;

  @include vp-768 {
    min-width: 200px;
  }
}

.about__group--secondary p {
  min-width: 190px;
}

.about__wrapper-image {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 42px;
  height: 42px;
  background-color: #316DC2;
}

.about__group br {
  display: none;

  @include vp-768 {
    display: block;
  }
}
