.faq__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  color: #316dc2;

  @include vp-1440 {
    gap: 40px;
  }

  @include vp-768 {
    gap: 30px;
  }
}

.faq__container h2 {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  padding: 5px;

  @include vp-1440 {
    font-size: 34px;
    padding: 0;
    min-width: 313px;
    text-align: center;
  }

  @include vp-768 {
    font-size: 20px;
    line-height: 20px;
    padding: 2px 0 3px;
    min-width: 290px;
    text-align: center;
  }
}

.faq__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq__item {
  padding: 39px;
  border-radius: 16px;
  border: 1px solid #316dc2;
  min-width: 1028px;

  &--size {
    padding: 32px 39px;
  }

  @include vp-1440 {
    padding: 29px;
    min-width: 678px;

    &--size {
      padding: 24px 29px;
    }
  }

  @include vp-768 {
    min-width: auto;
    max-width: 290px;
    padding: 19px 14px;
  }
}

.faq__text-content h3 {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;

  @include vp-1440 {
    font-size: 22px;
    line-height: 26px;
  }

  @include vp-768 {
    font-size: 16px;
    line-height: 18px;
  }
}

.faq__wrapper {
  display: grid;
  grid-template-columns: 1fr 40px;
  column-gap: 10px;
  align-items: center;
}

.faq__text-content p {
  margin: 0;
  max-width: 690px;
  color: #f0efe9;

  @include vp-1440 {
    line-height: 20px;
    max-width: 587px;
  }

  @include vp-768 {
    font-size: 14px;
  }
}

.faq__item.is-active {
  display: flex;
  flex-direction: column;
  gap: 13px;
  background-color: #316dc2;
  color: $color-white;
  padding-bottom: 32px;

  @include vp-1440 {
    gap: 16px;
    padding-bottom: 25px;
  }

  @include vp-768 {
    gap: 15px;
    padding-bottom: 14px;
  }
}

.faq__button {
  display: block;
  border: none;
  padding: 0;
}

.faq__button:hover .faq__button-wrapper--plus,
.faq__button:focus .faq__button-wrapper--plus {
  background-color: $color-white;
  color: #316dc2;
  border-color: #316dc2;
}

.faq__button:hover .faq__button-wrapper--minus,
.faq__button:focus .faq__button-wrapper--minus {
  background-color: #316dc2;
  color: $color-white;
  border-color: $color-white;
}

.faq__button:hover svg,
.faq__button:focus svg,
.faq__button:active svg {
  transform: none;
}

.faq__button:active .faq__button-wrapper--plus {
  background-color: #275699;
  color: $color-white;
  border-color: #275699;
}

.faq__button:active .faq__button-wrapper--minus {
  background-color: $color-white;
  color: #275699;
}

.faq__button:disabled .faq__button-wrapper,
.faq__button--disabled .faq__button-wrapper {
  background-color: #a9afb7;
  color: $color-white;
}

.faq__button-wrapper {
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 30px;

  &--plus {
    background-color: #316dc2;
  }

  &--minus {
    background-color: $color-white;
    color: #316dc2;
  }
}

.faq__item.is-active .faq__button-wrapper--plus,
.faq__button-wrapper--minus {
  display: none;
}

.faq__item.is-active .faq__button-wrapper--minus {
  display: flex;
}

.faq__text-content br {
  @include vp-768 {
    display: none;
  }
}
