.form__container {
  position: relative;

  @include vp-768 {
    padding: 0;
    min-width: 320px;
  }
}

.form__wrapper {
  padding: 70px 74px 41px;
  max-width: 498px;
  min-height: 803px;
  background-color: #316dc2;
  border-radius: 16px;
  position: relative;
  z-index: 1;
  color: $color-white;
  display: flex;
  flex-direction: column;
  gap: 29px;

  @include vp-1440 {
    padding: 50px 45px;
    min-height: 780px;
    max-width: 442px;
    gap: 31px;
  }

  @include vp-768 {
    max-width: 290px;
    margin: 0 auto;
    padding: 50px 15px;
    gap: 25px;
    min-height: 753px;
  }
}

.form__wrapper-image {
  position: absolute;
  top: 0;
  bottom: 0;
}

.form__wrapper-image img {
  border-radius: 16px;
  max-height: 100%;

  @include vp-1440 {
    max-width: 678px;
  }

  @include vp-768 {
    max-width: 320px;
  }
}

.form__text-content {
  display: flex;
  flex-direction: column;
  gap: 13px;

  @include vp-1440 {
    gap: 16px;
  }

  @include vp-768 {
    gap: 14px;
  }
}

.form__text-content h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  padding: 12px 0;

  @include vp-1440 {
    font-size: 28px;
    line-height: 28px;
    padding: 11px 8px;
    padding-left: 0;
  }

  @include vp-768 {
    font-size: 18px;
    line-height: 22px;
    padding: 2px 0;
  }
}

.form__text-content p {
  margin: 0;
  opacity: 0.9;

  @include vp-1440 {
    line-height: 20px;
  }

  @include vp-768 {
    font-size: 14px;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include vp-768 {
    gap: 20px;
  }
}

.form__item:last-of-type {
  margin-top: 4px;

  @include vp-1440 {
    margin-top: 5px;
  }

  @include vp-768 {
    margin-top: 0;
  }
}

.form__input {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include vp-1440 {
    gap: 7px;
  }

  @include vp-768 {
    gap: 12px;
  }
}

.form__input label,
.form__select-label {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.8;

  @include vp-1440 {
    line-height: 20px;
  }

  @include vp-768 {
    font-size: 12px;
    line-height: 14px;
  }
}

.form__input input {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: $color-transparent;
  min-height: 50px;
  font-family: inherit;
  padding: 15px 25px;
  color: inherit;
}

.form__input textarea {
  min-height: 98px;
  background-color: $color-transparent;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  resize: none;
  padding: 17px 20px;
  color: $color-white;
  font-family: inherit;

  @include vp-768 {
    min-height: 94px;
  }
}

.form__select {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  margin: 0;
  min-width: 350px;

  @include vp-1440 {
    gap: 7px;
    min-width: 352px;
  }

  @include vp-768 {
    gap: 12px;
    min-width: 260px;
  }
}

.form__select-button {
  min-height: 50px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 17px 20px;
  font-family: inherit;
}

.form__select-icon {
  background-color: $color-white;
}

.custom-select__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  max-width: 118px;
  width: 100%;
  min-height: 14px;
  color: $color-white;
}

.form__select-list {
  bottom: -4px;
  color: #484848;
  border-radius: 8px;
  padding: 0;
  min-height: 192px;
  border: none;
}

.form__select-item {
  padding: 17px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.form__wrapper form {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include vp-768 {
    gap: 30px;
  }
}

.form__button {
  border-color: $color-white;

  &:hover {
    background-color: $color-white;
  }
}

.form__button:hover .form__button-description,
.form__button:focus .form__button-description {
  color: #316dc2;
}

.form__button:hover .form__button-wrapper,
.form__button:focus .form__button-wrapper {
  background-color: #316dc2;
}

.form__button:hover svg,
.form__button:focus svg {
  color: $color-white;
}


.form__button:active svg {
  color: rgba(255, 255, 255, 0.7);
}

.form__button:disabled svg {
  color: rgba(255, 255, 255, 0.6);
}

.form__button-description {
  color: $color-white;
  justify-self: center;
}

.form__button-wrapper {
  background-color: $color-white;
  color: #316dc2;
}

.form__toggle label {
  display: flex;
  gap: 10px;
  align-items: center;
  min-height: 20px;
  cursor: pointer;
  position: relative;

  @include vp-768 {
    line-height: 14px;
  }
}

.form__checkbox-text {
  font-size: 12px;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.9);
}

.form__toggle input {
  position: absolute;
  appearance: none;
}

.form__toggle .form__checkbox-view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: #316dc2;
}

input[type="checkbox"]:checked + .form__checkbox-view {
  color: $color-white;
}

input[type="checkbox"]:hover + .form__checkbox-view,
input[type="checkbox"]:focus + .form__checkbox-view {
  border-color: $color-white;
}

input[type="checkbox"]:hover ~ .form__checkbox-text,
input[type="checkbox"]:focus ~ .form__checkbox-text {
  color: $color-white;
}

input[type="checkbox"]:active + .form__checkbox-view {
  border-color: rgba(255, 255, 255, 0.3);
}

input[type="checkbox"]:active ~ .form__checkbox-text {
  color: rgba(255, 255, 255, 0.3);
}

input[type="checkbox"]:disabled + .form__checkbox-view {
  background-color: rgba(255, 255, 255, 0.6);
  color: transparent;
}

input[type="checkbox"]:disabled ~ .form__checkbox-text {
  color: rgba(255, 255, 255, 0.6);
}
