.hero__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hero__item {
  position: relative;
  min-height: 800px;
  display: flex;
  align-items: flex-end;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(49, 109, 194, 0.20);
  }

  @include vp-1440 {
    min-height: 1024px;
  }

  @include vp-768 {
    min-height: 568px;
  }
}

.hero__wrapper-image {
  position: absolute;
  z-index: -1;
  top: 0;
}

.hero__text-content {
  padding: 84px 100px 60px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;

  @include vp-1440 {
    padding: 84px 45px 60px;
  }

  @include vp-768 {
    padding: 74px 15px 20px;
  }
}

.hero__text-content h2 {
  margin: 0;
  padding: 41px 50px 30px;
  max-width: 968px;
  color: #316DC2;
  font-size: 54px;
  font-weight: 400;
  line-height: 62px;
  border-radius: 0px 30px 30px 0px;
  background-color: $color-white;
  margin-top: -1px;

  @include vp-1440 {
    padding: 31px 40px 24px;
    max-width: 659px;
    font-size: 36px;
    line-height: 44px;
  }

  @include vp-768 {
    padding: 21px 14px 16px;
    max-width: 290px;
    font-size: 22px;
    line-height: 26px;
    border-radius: 0px 16px 16px 0px;
  }
}

.hero__group-design {
  display: flex;
  align-items: flex-start;
  margin-top: -1px;
}

.hero__group-design svg {
  margin-left: -1px;
  color: $color-white;

  @include vp-768 {
    width: 10px;
    height: 10px;
  }
}

.hero__group {
  padding: 0 50px 28px;
  border-radius: 0px 0px 30px 30px;
  display: flex;
  gap: 30px;
  align-items: center;
  max-width: 772px;
  background-color: $color-white;
  margin-top: -7px;

  @include vp-1440 {
    padding: 0 40px 33px;
    max-width: 591px;
    margin: 0;
    align-items: flex-start;
  }

  @include vp-768 {
    flex-direction: column;
    padding: 0;
    gap: 0;
    align-items: flex-start;
    background-color: transparent;
  }
}

.hero__text-content p {
  margin: 0;
  color: #484848;
  max-width: 446px;

  @include vp-1440 {
    line-height: 20px;
    margin-top: -2px;
  }

  @include vp-768 {
    font-size: 14px;
    padding: 0 14px 10px;
    max-width: 267px;
    width: 100%;
    background-color: $color-white;
    border-radius: 0px 0px 14px 0px;
    margin-top: -5px;
  }
}

.hero__button {
  gap: 25px;
  padding-left: 29px;
  min-width: 196px;

  @include vp-768 {
    gap: 15px;
    padding-left: 19px;
    min-width: 152px;
  }
}

.hero__container {
  padding: 0;
}

.hero__button-container {

  @include vp-768 {
    padding: 11px 15px 10px;
    border-radius: 0px 0px 14px 14px;
    background-color: $color-white;
    margin-top: -1px;
    position: relative;
    max-width: 192px;
  }
}

.hero__button-container svg {
  display: none;

  @include vp-768 {
    display: block;
    position: absolute;
    top: 0;
    right: -9px;
  }
}

.hero__button svg {
  display: block;

  @include vp-768 {
    position: static;
  }
}

.hero__text-content br {
  display: none;

  @include vp-1440 {
    display: block;
  }
}
