.news__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.news__container h2 {
  margin: 0;
  color: #316DC2;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
}

.news__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 30px;
  min-width: 810px;
  justify-content: space-between;
}

.news__button {
  color: #316DC2;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  padding: 12px 25px;
  border: none;

  &--current {
    border-radius: 20px;
    border: 1px solid #316DC2;
    padding: 11px 24px;
  }
}

.news__wrapper-slider-button {
  width: 1240px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__wrapper-slider-button .swiper-pagination {
  width: 188px;
  display: flex;
  gap: 20px;
}

.news__wrapper-slider-button .swiper-pagination-bullet {
  width: 32px;
  height: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #316DC2;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news__wrapper-slider-button .swiper-pagination-bullet-active {
  border-radius: 20px;
  background-color: #316DC2;
  color: $color-white;
  opacity: 1;
}
