.programs__container {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 40px;

  @include vp-1440 {
    overflow: hidden;
  }

   @include vp-768 {
    row-gap: 30px;
  }
}

.programs__container h2 {
  margin: 0;
  padding: 4px 0 6px;
  color: #316DC2;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  max-width: 278px;

  @include vp-1440 {
    font-size: 34px;
    padding: 0;
    max-width: 189px;
  }

  @include vp-768 {
    font-size: 20px;
    line-height: 20px;
    max-width: 115px;
    padding: 3px 0 2px;
  }
}

.programs__button {
  margin-bottom: 6px;
  gap: 30px;
  padding-left: 28px;
  max-width: 232px;
  justify-self: end;

  @include vp-1440 {
    margin: 0;
  }

  @include vp-768 {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    justify-self: start;
  }
}

.programs__text-content {
  padding: 20px;
  padding-right: 51px;

  @include vp-768 {
    padding: 18px 10px;
  }
}

.programs__text-content h3 {
  margin: 0;
  color: #316DC2;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  max-width: 194px;
  width: 100%;
  background-color: $color-white;
  border-radius: 12px 12px 0px 0px;
  padding: 13px 18px 3px;

  @include vp-1440 {
    font-size: 20px;
    line-height: 24px;
    padding: 18px;
    padding-top: 13px;
    padding-bottom: 1px;
    max-width: 173px;
  }

  @include vp-768 {
    font-size: 16px;
    line-height: 18px;
    max-width: 146px;
    padding: 18px;
    padding-bottom: 6px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 1240px;

  @include vp-1440 {
    max-width: 1032px;
  }
}

.programs__item {
  display: flex;
  align-items: flex-end;
  min-height: 420px;
  border-radius: 12px;
  max-width: 392px;
  width: 100%;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(49,109,194,0.2);
    z-index: -1;
    border-radius: 12px;
  }

  @include vp-1440 {
    max-width: 324px;
  }

  @include vp-768 {
    max-width: 290px;
    min-height: 400px;
  }
}

.programs__text-content p {
  margin: 0;
  max-width: 239px;
  font-size: 14px;
  line-height: 18px;

  @include vp-1440 {
    line-height: 20px;
    min-width: 181px;
  }

  @include vp-768 {
    font-size: 12px;
    line-height: 14px;
    max-width: 188px;
  }
}

.programs__group {
  border-radius: 0px 12px 12px 12px;
  padding: 11px 18px 14px;
  min-height: 79px;
  display: flex;
  gap: 16px;
  align-items: center;
  background-color: $color-white;
  margin-top: -1px;

  @include vp-1440 {
    padding: 8px 18px 10px;
  }

  @include vp-768 {
    padding: 12px 18px 15px;
    min-height: 69px;
  }
}

.programs__wrapper {
  display: flex;
  align-items: flex-end;
  color: $color-white;
}

.programs__wrapper--design svg {
  margin-left: -1px;
  transform: rotate(270deg);
}

.programs__swiper {
  grid-column: 1 / 3;

  @include vp-1440 {
    margin-right: 0;
    margin-left: 0;
  }
}

.programs__wrapper-image {
  position: absolute;
  top: 0;
  z-index: -1;
}

.programs__wrapper-image img {
  border-radius: 12px;
}
