.reviews__container {
  @include vp-1440 {
    overflow: hidden;
    padding-right: 0;
  }

  @include vp-768 {
    padding-right: 15px;
  }
}

.reviews__text-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #316dc2;

  @include vp-768 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

.reviews__text-content h2 {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  padding: 5px 3px;

  @include vp-1440 {
    font-size: 34px;
    padding: 0;
  }

  @include vp-768 {
    font-size: 20px;
    line-height: 20px;
    padding: 3px 0 2px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 1240px;

  @include vp-1440 {
    max-width: 1150px;
  }
}

.reviews__item {
  border-radius: 16px;
  border: 1px solid #316dc2;
  padding: 49px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 604px;
  max-height: 456px;
  height: auto;

  @include vp-1440 {
    min-width: 560px;
    padding-bottom: 45px;
  }

  @include vp-768 {
    padding: 29px 14px;
    padding-bottom: 25px;
    min-width: 290px;
  }
}

.reviews__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-768 {
    flex-direction: column;
    gap: 14px;
    align-items: flex-start;
  }
}

.reviews__wrapper-person {
  display: grid;
  grid-template-columns: 90px 1fr;
  gap: 15px;
  align-items: center;
  height: min-content;

  @include vp-768 {
    gap: 10px;
    grid-template-columns: 60px 1fr;
  }
}

.reviews__wrapper-details {
  display: flex;
  gap: 25px;

  @include vp-1440 {
    min-width: 229px;
  }

  @include vp-768 {
    gap: 26px;
    min-width: 200px;
  }
}

.reviews__wrapper-program,
.reviews__wrapper-date {
  display: flex;
  flex-direction: column;
  gap: 6px;

  @include vp-768 {
    gap: 6px;
  }
}

.reviews__text-content b {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  min-width: 52px;

  @include vp-1440 {
    font-size: 20px;
  }

  @include vp-768 {
    font-size: 12px;
    line-height: 14px;
    opacity: 0.9;
  }
}

.reviews__text-content span {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
}

.reviews__text-content p {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #484848;

  @include vp-1440 {
    line-height: 20px;
  }

  @include vp-768 {
    font-size: 12px;
    line-height: 14px;
  }
}

.reviews__text-content h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;

  @include vp-1440 {
    font-size: 20px;
    line-height: 24px;
  }

  @include vp-768 {
    font-size: 16px;
    line-height: 18px;
  }
}

.reviews__group {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @include vp-1440 {
    gap: 16px;
  }

  @include vp-768 {
    gap: 15px;
  }
}

.reviews__group p {
  font-size: 16px;
  line-height: 26px;

  @include vp-1440 {
    line-height: 20px;
  }

  @include vp-768 {
    font-size: 14px;
  }
}

.reviews__wrapper-image img {
  border-radius: 90px;
}

.reviews__swiper {
  @include vp-1440 {
    margin: 0;
  }

  @include vp-768 {
    grid-column: 1 / -1;
  }
}
