.social {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  min-width: 148px;
  align-items: center;

  @include vp-1440 {
    grid-column: 2 / -1;
    min-width: 128px;
  }

  @include vp-768 {
    grid-column: 1 / -1;
    justify-content: center;
    gap: 10px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 36px;
  min-height: 36px;
  background-color: #316dc2;
  border-radius: 50%;
  color: $color-white;

  @include vp-768 {
    min-width: 26px;
    min-height: 26px;
  }
}

.social__link:hover svg,
.social__link:focus svg {
  color: rgba(255, 255, 255, 0.7);
}

.social__link:active {
  background-color: #275699;
}

.social__link:active svg {
  color: $color-white;
}

.social__link:disabled,
.social__link--disabled {
  opacity: 0.3;
}

.social__link svg {
  @include vp-768 {
    width: 12px;
    height: 12px;
  }
}
