@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/ManropeLight.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/ManropeRegular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/ManropeMedium.woff2") format("woff2");
}
