$color-base: #484848;
$color-black: #000000;
$color-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);
$fz-default: 16px;
$ff-placeholder: "Manrope", "Arial", sans-serif;
$vp-768: 768px;
$vp-1440: 1440px;
